#root {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;      
  min-height: 100vh;        
  background-color: rgb(242, 235, 224);
}

body {
  margin: 0;
  padding: 0;
}

.gameBoard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.card { /*Responsivt i förhållande till gameboards storlek*/
  flex: 1 1 calc(25% - 8px);
  aspect-ratio: 1 / 1;
  min-height: 6rem;
}
